<!DOCTYPE html>
<html lang="en">

<head>
    <title>Expenses</title>
</head>

<body>
    <main>
        <h1>Receipts</h1>
        <h2>
            <a href="{% url 'create_category' %}">Create Category</a>
        </h2>
        <h2>
            <a href="{% url 'create_account' %}">Create Account</a>
        </h2>
        <table>
            <thread>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thread>
            <tbody>
                {% for receipt in receipt_list %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m-d-Y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>